:root {
  --background-color: #ecf3fa;
  --primary-color: #1b2845;
  --secondary-color: #ff8717;
  --light-secondary-color: #ffab5d;
  --light-primary-color: #b1b1b1;
  --small-breakpoint: 768px;
  --mid-breakpoint: 980px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
}


html {
  font-size: 6.25%
}

body {
  font-size: 16rem;
}

* a {
  text-decoration: none;
}

/* Landing */

.landing-container {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 100vh;
}

/* Header */

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.header label {
  display: inline-block;
  padding: 5px;
  background-color: var(--light-primary-color);
}
.header label:hover {
  cursor: pointer;
  background: rgb(0,0,0, 0.2)
}

.header label span {
  font-size: 30px;
}

#btn-menu {
  display: none;
}

.header-nav-menu {
  max-width: 640px;
  position: absolute;
  display: grid;
  grid-template-columns: 130px;
  gap: 10px;
  padding: 10px;
  margin-left: -70%;
  transition: all 0.5s;
  background-color: white;
}

#btn-menu:checked ~ .header-nav-menu {
  margin: 0;
}

.header-nav-menu > span {
  border-bottom: 1px solid var(--light-primary-color);
}

.header-nav-menu > span:hover {
  background: rgb(0,0,0, 0.2)
}

.header-nav-menu a {
  display: block;
  font-weight: 500;
}

/* Seccion/vista de busqueda */
.search-view {
  display: grid;
  grid-template-rows: 8vh 40vh 8vh 10vh 34vh;
  justify-items: center;
  background-color: var(--background-color);
}

.social-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-start: 3;
  gap: 28px;

}
.social-stats p {
  display: grid;
  grid-template-columns: repeat(2, auto) ;
  align-items: start;
  gap: 2px;
}

.search-view--title {
  align-self: center;
  font-size: 46rem;
  font-family: 'Old Standard TT', serif;
  grid-row-start: 2;
}

.search-form {
  width: 95%;
  grid-row: 4 / span 1 ;
  grid-column: 1 / span 1;
  z-index: 1;
  align-self: start;
}

.search-form label {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  grid-row: 4 / span 1 ;
}

#search-input {
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 1px var(--primary-color);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: var(--primary-color);
  font-weight: 500;
}

#search-input::placeholder {
  color:var(--light-primary-color);
}

.search-form button {
  padding: 0 10px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: 500;
  box-shadow: 0px 0px 1px var(--primary-color);
}
.search-form button:hover {
  cursor: pointer;
  background-color: var(--light-secondary-color);
}

.back-img {
  display: block;
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
  box-shadow: 0px -1px 10px var(--background-color);
  opacity: 0.5;
}

.back-img img {
  height: 100%;;
  width: 100%;
  vertical-align: top;
  object-fit: cover;
}

@media (min-width: 680px) {
  .header label {
    display: none;
  }
  
  .header-nav-menu {
    margin-left: 0;
    width: 100%;
    grid-template-columns: repeat(8, auto);
    gap: 32px;
    justify-content: end;
    align-items: center;
    justify-items: center;
    /* right: 0; */
    /* margin-left: 10%; */
    background-color: transparent;
  }

  .search-view {
    grid-template-rows: 8vh 10vh 46vh 10vh 10vh 16vh;
    grid-template-columns: 60% 1fr
  }

  .social-stats {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }

  .search-view--title {
    grid-column: 1/span 1;
    grid-row: 2 /span 2;
    font-size: 60rem;
  }

  .search-form {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }

  .back-img {
    grid-row: 1 / -1;
    grid-column: 2 / span 1;
  }

  .search-form {
    height: 70%;
  }

  .search-form label {
    height: 100%;
  }
}

@media (min-width: 980px) {
  .search-view {
    justify-items: start;
    grid-template-columns: 50% 1fr;
    padding-left: 100px;
  }

  .search-view--title {
    align-self: end;
    font-size: 84rem;
    line-height: 84px;
  }

  .social-stats {
    gap: 60px;
  }

}
